{% extends "base.html" %}
{% block content %}
<h2>更新前のデータ</h2>
<table class="table table-striped table-hover">
    <thead>
        <tr class="border-bottom border-dark">
            <th class="border-end border-#ccc">タスクid</th>
            <th class="border-end border-#ccc">タスク名</th>
            <th class="border-end border-#ccc">締切日時</th>
            <th class="border-end border-#ccc">共有</th>
            <th class="border-end border-#ccc">完了</th>
            <th>追跡</th>
        </tr>
    </thead>
            <td class="border-end border-light">{{ task.id }}</td>
            <td class="border-end border-light">{{ task.name }}</td>
            <td class="border-end border-light">{{ task.deadline }}</td>
            <td class="border-end border-#ccc">{{ "✅共有済"if old_task.is_shared else"❌非共有" }}</td>
            <td class="border-end border-#ccc">{{ "✅完了済み"if old_task.is_completed else"❌未完了" }}</td>
            <td>{{ "✅追跡中"if old_task.is_tracked else"❌非追跡中" }}</td>
</table>

<h1 style="text-align: center;">👇👇👇</h1>
<h2>更新後のデータ</h2>
<form action="{{ url_for('update', task_id=task.id) }}" method="POST">
    <input type="hidden" name="next" value="{{ request.args.get('next') }}">
    <div class="row">
        <div class="col">
            <div class="form-floating">
                <input class="form-control" type="text" name="name" id="name" value="{{ task.name }}" placeholder="タスク名を入力...">
                <label for="name" class="col-form-label">タスク名</label>
            </div>
        </div>
        <div class="col-auto">
            <div class="form-floating">
                <input class="form-control" type="datetime-local" name="deadline" id="deadline" value="{{ task.deadline }}">
                <label for="deadline" class="col-form-label">締切日時</label>
            </div>
        </div>
        <div class="col-auto">
            <div class="form-check mt-1">
                <input class="form-check-input" type="checkbox" name="is_shared" id="is_shared" {{ "checked" if task.is_shared }}>
                <label for="is_shared" class="form-check-label"><i class="bi bi-share me-2"></i>共有する</label>
            </div>
            <div class="col-auto">
            <div class="form-check mt-1">
                <input class="form-check-input" type="checkbox" name="is_tracked" id="is_tracked" {{ "checked" if task.is_tracked }}>
                <label for="is_tracked" class="form-check-label"><i class="bi bi-crosshair2"></i>追跡する</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="is_completed" id="is_completed" {{ "checked" if task.is_completed }}>
                <label for="is_completed" class="form-check-label"><i class="bi bi-check2"></i>完了済みにする</label>
            </div>
        </div>

        <div class="col-auto">
            <input class="btn btn-primary h-100" type="submit" value="更新">
        </div>
    </div>
</form>
{% endblock content %}